version: "3.4"
services:

  node-red:
    image: nodered/node-red
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /dockerdata/dockervol/node-red:/data
    ports:
      - 1880:1880

  esphome:
    image: esphome/esphome
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /dockerdata/dockervol/esphome:/data
    ports:
      - 6052:6052
      - 6123:6123
  
  homeassistant:
    image: lscr.io/linuxserver/homeassistant
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /dockerdata/dockervol/homeassistant:/config
    ports:
      - 8123:8123 #optional
    networks:
      - outside
    deploy:
      placement:
        constraints:
          - "node.labels.powerful==true"

  zwavejs2mqtt:
    image: zwavejs/zwavejs2mqtt:latest
    tty: true
    stop_signal: SIGINT
    environment:
      - SESSION_SECRET=mysupersecretkey
      - TZ=America/Toronto  # uncomment and edit to match you timezone if you want logs time and dates to match your timezone instead of UTC.
    volumes:
      - /dockerdata/dockervol/zwave/store:/usr/src/app/store
      - /dev/zwave:/dev/ttyACM0
    ports:
      - '8091:8091' # port for web interface
      - '3000:3000' # port for zwave-js websocket server
    deploy:
       placement:
         constraints:
           - node.labels.zwave==true
networks:
  outside:
    external:
      name: "host"
