version: "3.4"
services:
  zwavejs2mqtt:
    image: zwavejs/zwavejs2mqtt:latest
    tty: true
    stop_signal: SIGINT
    environment:
      - SESSION_SECRET=mysupersecretkey
      - TZ=America/Toronto  # uncomment and edit to match you timezone if you want logs time and dates to match your timezone instead of UTC.
    volumes:
      - /dockerdata/dockervol/zwave/store:/usr/src/app/store
      - /dev/zwave:/dev/ttyACM0
    ports:
      - '8091:8091' # port for web interface
      - '3000:3000' # port for zwave-js websocket server
    deploy:
       placement:
         constraints:
           - node.labels.zwave==true
           
  zigbee2mqtt:
	  image: koenkk/zigbee2mqtt:latest-dev
  	environment:
	    - TZ=Europe/Amsterdam
	  volumes:
	    - /mnt/docker-cluster/zigbee2mqtt/data:/app/data
	    - /dev/zigbee-serial:/dev/zigbee-serial
	  deploy:
	    placement:
		    constraints: 
          - node.labels.zigbee==true
	  
